GROQ_API_KEY = ""

GOOGLE_API_KEY = ""
OPENAI_API_KEY = ''
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT='https://apac.api.smith.langchain.com'
LANGCHAIN_API_KEY=''
LANGCHAIN_PROJECT='chatbot-project'


MISTRAL_API_KEY = ""
WEATHERSTACK_API_KEY=